body {
    background-image: url("./img/coronavirus.svg");
    background-repeat: no-repeat;
}

.main{
    height: 650px;
    background-color: hwb(130 90% 8% / 0.507);
}

.apresentacao{
    font-family: 'Hina Mincho', serif;
}

.text-justify{
    text-align: justify;
}

.textarea-sugestao{
    height: 200px;
}
.sugestao{
    max-width: 200px;
    font-size: 20dp;
    white-space: nowrap;                  
    overflow: hidden; /* "overflow" value must be different from "visible" */
    text-overflow:    ellipsis;
    border: 2px solid #ccc;
}

#sres{
    display: none;
}